<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>View List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/HTML/css/style.css">
    </head>
    <body>
        <div class="container mt-5">
            <!-- top -->
            <div class="row">
                <div class="col-lg-6">
                    <h1>View Grocery List</h1>
                    <div class='row'>
                    <p>Welcome , {{request.user.first_name}}</p>
                    <a href='logout' class='ml-5'>Log out</a>
                    </div>
                    <a href='/add'>Add item</a>
                </div>
                
                <div class="col-lg-6 float-right">
                    <div class="row">
                        <form action="" method="GET">
                        <div class="col-lg-8">
                            <!-- Date Filtering-->
                            
                            <input name="date" id='date'type="date" class="form-control">
                        </div>
                        <div class="col-lg-4">
                            <input type="submit" class="btn btn-danger" value="filter">
                        </div></form>
                    </div>
                </div>
            </div>
            <!-- // top -->
            <!-- Grocery Cards -->
            <div class="row mt-4">
                <!--- -->
                <!-- Loop This -->
                {% for i in item  %}
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{i.item_name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{i.item_qun}}</h6>
                          {% if i.status == "bought" %}
                          <p class="text-success">BOUGHT</p>
                          {% elif i.status == "not-available" %}
                          <p class="text-danger">NOT AVAILABLE</p>
                          {% else %}
                          <p class="text-info">PENDING</p>
                         {% endif %}
                         <div class='row x-3'>
                         <a href='/update/{{i.id}}' class="mr-5">Update</a>
                         <a href='/delete/{{i.id}}' class="ml-5">Delete</a>
                         </div>
                        </div>
                      </div>
                </div>
                {% endfor %}
                <!-- // Loop -->
                {% comment %} <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Chicken</h5>
                          <h6 class="card-subtitle mb-2 text-muted">2Kgs</h6>
                          <p class="text-danger">NOT AVAILABLE</p>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Posto</h5>
                          <h6 class="card-subtitle mb-2 text-muted">50gms</h6>
                          <p class="text-info">PENDING</p>
                        </div>
                      </div>
                </div> {% endcomment %}

            </div>
        </div>
    </body>
</html>
